<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<title>WELCOME</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO LOGIN PAGE </h3>
			</div>

			<div class="card-body">
				<form th:action="@{/users/search}">
					Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
					&nbsp;
					<input type="submit" value="Search" />
					&nbsp;
					<!--<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />-->
					<a th:href="@{/users/register}" class="btn btn-warning">USER REGISTRATION</a>
					<a th:href="@{/users/All}" class="btn btn-warning">USER DETAILS</a>
				</form>

				</br>


				</form>
			</div>
			<!--Card body end-->
			<div class="card-footer bg-info text-white" th:if="${message!=null}">
				[[${message}]]
			</div>
			<!--Card footer end-->
		</div>
		<!--Card end-->
	</div>
	<!--container end-->


</body>

</html>